{{extend '../_layouts/home.html'}} {{block 'title'}}{{'多人博客 - 发起评论'}}{{/block}} {{block 'content'}}
<section class="container">
  <div class="row">
    <div class="col-md-5">
      <form id="send">
        <div class="form-group">
          <label for="module">选择板块</label>
          <select class="form-control" name="value" id="module">
            <option value="1">分享</option>
            <option value="2">问答</option>
            <option value="3">招聘</option>
            <option value="4">客户端测试</option>
          </select>
        </div>
        <div class="form-group">
          <label for="title">标题</label>
          <input type="type" class="form-control" name="title" id="title" placeholder="title">
        </div>
        <div class="form-group">
          <label for="file">图片</label>
          <input type="file" class="form-control" name="file" id="file" placeholder="file">
          <img src="" class="img" id="img" alt="预览区" style="max-height: 300px">
        </div>
        <div class="form-group">
          <label for="main">内容</label>
          <textarea class="form-control" rows="3" name="textarea" id="main"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
  ($(function () {
    $('#file').change(function () {
      var formData = new FormData();
      var file = $('#file')[0].files[0];
      var type = $("#file")[0].files[0].type;
      if (type != "image/jpeg" && type != "image/png") {
        alert('请上传png或jpg图片!')
        return;
      }
      formData.append("upload", file);
      //异步上传图片对象
      $.ajax({
        url: "/upload",
        type: "POST",
        dataType: "json",
        data: formData,
        contentType: false, //发送信息到服务器的内容类型 告诉jq不要去设置Content-Type请求头,默认是 application/x-www-form-urlencoded （form类型） 
        processData: false, //processData 是jq 独有的参数 用于对data参数进行序列化处理，默认值是true，
        //所谓序列化 就是比如{ width:1680, height:1050 }参数对象序列化为width=1680&height=1050这样的字符串。
      }).done(function (res) {
      
        /**
         * 
         * JS中为false的几种情况
         * false  null  ""  0   undefined   NaN
         **/
        
        if (!res.code) {
          $("#img").attr("src", '/'+res.img);//显示预览图，到时往数据库存储图片路径时就在这个图片上获取就可以了
        }
      })

    })
    $('#send').on('submit', function (e) {
      e.preventDefault();
      // var formData = $(this).serialize();

      // console.log(formData);
      var formData={
        module:$("#module").find("option:selected").text(),
        title:$("#title").val(),
        main:$('#main').val(),
        avator:$("#img").attr('src')
      }
      
      $.ajax({
        url: '/topics/new',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: (data) => {
          // console.log(data);
          if (data.code === 0) {
            alert(data.msg);
            location.href = "/";
          } else {
            alert(data.msg);
          }

        }
      })
    })

  }))
</script> {{/block}}